@import "../../../style/style.scss";

.content {
    background-color: $background-color;
    padding: 20px 0px;

    .title {
        font-size: 1.2rem;
        font-weight: $fw-bold;
        padding: 15px 0px;

        @include screen($tablet) {
            font-size: 1.6rem;
            padding: 20px 0px;
        }

        @include screen($desktop) {
            font-size: 1.8rem;
            padding: 30px 0px;
        }
    }
}
