@import "../../../style/style.scss";

.summary .form-check .form-check-input {
  float: right;

  &:checked {
    background-color: $button-color;
    border-color: $button-color;
  }

  &:focus {
    box-shadow: none;
  }
}
